<!----------------LANDING PAGE VIDEO------------------>
<div class="videocontainer">
  <%= video_tag "cocktail1.mov", controls: false, autoplay: true, muted:
  true, loop: true, class: "video"  %>
</div>
<!----------------landing page iNFO------------------>

<div class="titlelink">
  <h1>what are you</h1>
  <div class="title">in the <strong>mood</strong></div>
  <h1>for today?</h1>

  <div class=createbutton>
  <%= link_to "+ Create your own mood cocktail", new_cocktail_path, class: "create-button" %>
  </div>
</div>

<div class="description">
  <p>bespoke and carefully crafted cocktails designed to match your mood</p>
</div>
<!----------------CONTAINER------------------->
<div class="container">
<!----------------CARDS------------------->
 <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
             url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill unless cocktail.photo.blank? %>')">
        <h2><%= cocktail.name.downcase %></h2>
         <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
       </div>
      <% end %>
    </div>
<!------end of container tag------->
</div>
