<!DOCTYPE html>
<html>
<head>
  <title>in the mood?</title>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400" rel="stylesheet">
</head>
<body>
  <!----------------LANDING PAGE VIDEO------------------>
  <div class="videocontainer">
    <%= video_tag "cocktail1.mov", controls: false, autoplay: true, muted:
    true, loop: true, class: "video"  %>
  </div>
  <!----------------landing page title------------------>
  <div class="titlelink">
    <h1>what are you</h1>
    <div class="title">in the <strong>mood</strong></div>
    <h1>for today?</h1>
    <div class=createbutton>
    <%= link_to "+ create your own mood cocktail", new_cocktail_path, class: "create-button" %>
    </div>
  </div>
  <!---------------second page------------------>
    <div class="descriptioncontainer">
     <div data-aos="fade-down"   data-aos-duration="5000">
      <div class="description">
        <p><strong>bespoke</strong> and <strong>carefully crafted cocktails</strong> designed to match your <strong>mood</strong></p>
      </div>
    </div>
  </div>
  <!----------------CARDS CONTAINER------------------->
  <div class="cardcontainer">
  <!----------------CARDS------------------->
   <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill unless cocktail.photo.blank? %>')">
          <h2><%= cocktail.name.downcase %></h2>
           <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
         </div>
        <% end %>
      </div>
  <!------end of container tag------->
  </div>
  <!-----CSS animation------->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
