<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MoodMatch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Playfair+Display" rel="stylesheet">
</head>
<body>
  <!----------------LANDING PAGE VIDEO------------------>
  <div class="videocontainer">
     <%= video_tag "cocktail1.mov", controls: false, autoplay: true, muted:
    true, loop: true, class: "video"  %>
  </div>
  <!----------------logo ----------------->
  <div class="logo">
    <div>mood</div>
    <div class="logomatch">match</div>
  </div>
  <!----------------in the mood for ----------------->
  <div class="titlelink">
    <h1>what are you</h1>
    <div class="title">in the <strong>mood</strong></div>
    <h1>for today?</h1>
<!-------------create button------------------>
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">
    <div class="createbutton" >
      <p> + create your own mood cocktail </p>
    </div>
      </span>
  </div>
<!---------------side bar ----------------->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="createsidebartitle">
      Create your own mood cocktail
    </div>
      <div class="newcocktailform">
       <%= simple_form_for @cocktail do |f| %>
            <%= f.input :name %>

             <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>

            <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
        </div>
      </div>
        <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "35vw";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
  <!----------------scroll down anchor------------------>
  <div class="scrolldowndiv">
     <a href="#scrolldown" class="scrolldown">↓ scroll down</a>
  </div>
  <!---------------second page------------------>
<div class="secondpage">
   <div id="scrolldown">
    <div data-aos="fade-down" data-aos-duration="1500">
      <div class="description">a collection of bespoke and personalised cocktails carefully curated to match your mood </div>
    </div>
  <!----------------CARDS CONTAINER------------------->
        <div class="explorescroll">explore → </div>
        <div class="cardcontainer">
          <div data-aos="fade-right" data-aos-duration="1500">
            <h1>moods</h1>
            <h1 class="moodoutline">moods</h1>
            <h1 class="moodpinkoutline">moods</h1>
            <h1 class="moodoutline">moods</h1>
            <h1 class="moodpinkoutline">moods</h1>
            <h1 class="moodoutline">moods</h1>
            <h1 class="moodpinkoutline">moods</h1>
            <h1 class="moodoutline">moods</h1>
            <h1 class="moodpinkoutline">moods</h1>
            <h1 class="moodoutline">moods</h1>
            <h1 class="moodpinkoutline">moods</h1>
            <h1 class="moodoutline">moods</h1>
            <h1 class="moodpinkoutline">moods</h1>
          </div>
        <!----------------CARDS------------------->
         <div class="cards">
          <% @cocktails.each do |cocktail| %>
            <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                     url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill unless cocktail.photo.blank? %>')">
                <h2><%= cocktail.name.downcase %></h2>
                 <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
               </div>
              <% end %>
            </div>
          </div>
        </div>
  <!------ footer ------>
      <footer class="footer">
        <a target="_blank" href="https://github.com/sophielihenry/rails-mister-cocktail-1" class="githublink">Hand-coded with love  </a>
        <p>©
          <script> document.write(new Date().getFullYear());</script>
        </p>
      </footer>
      <!------end of container tag------->
      </div>
    </div>
      <!-----CSS animation------->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
    </body>
